<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<link type="stylesheet" href="css/bootstrap.min.css">
<link type="stylesheet" href="css/bootstrap-responsive.min.css">
<script>
$(function() {
  $("#search").autocomplete({
    source: function(req, res) {
      $.ajax({
        url: "/suggest",
        data: {
          company: req.term
        },
        success: function(data) {
          res($.map(JSON.parse(data), function(items) {
            return items.join(":");
          }));
        }
      });
    }
  });
});
</script>
</head>
<body>
<div id="human">
  <input type="text" placeholder="first name">
  <input type="text" placeholder="last name">
</div>
<div id="domain">
  <input type="text" id="search" placeholder="domain">
  <input type="submit" value="try">
</div>
<form class="form-inline">
  <div class="controls">
    <div class="input-append">
        <input class="span2" type="text"><button class="btn" type="button"><i class="icon-search"></i></button>
    </div>
  </div>
</form>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
